@model List<CarListingViewModel>

@{
    ViewBag.Title = "My cars";
    ViewBag.EditAllowed = true;
}

@if (!Model.Any())
{
    <h1>You do not have cars!</h1>
}

<partial name="_CarsPartial" model="@Model" />